*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: arial;
}

.crear{
	position: relative;
	padding: 5px;
	text-decoration: none;
	font-size: 1rem;
	background-color: #007bff;
	border-radius: 5px;
	color: white;
}
.crear:hover{
	transition: .5s all;
	border: 1px solid #007bff;
	color: #007bff;
	background-color: transparent;
}
.excel{
	padding: 5px;
	background-color: #39e460;
	color: white;
	border-radius: 5px;
}
.excel:hover{
	transition: .5s all;
	border: 1px solid #39e460;
	color: #39e460;
	background-color: transparent;
}
.contenedor-form{
	width: 350px;
	padding: 40px 30px;
	background: rgba(235, 235, 205, 0.7);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 50px auto;
}

.contenedor-form h1{
	text-align: center;
	color: #2c3e50;
}

.input-control{
	font-size: 1rem;
	width: 100%;
	height: 50px;
	margin-bottom: 15px;
	padding: 5px 7px 5px 15px;
	border: none;
	color: #666;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.input-control:focus{
	outline-style: none;
	border-color: #2c3e50;
	transition: 0.5s;
}

.log-btn{
	font-size: 1rem;
	width: 100%;
	height: 50px;
	border: none;
	background: #2c3e50;
	color: #fff;
	cursor: pointer;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.contenedor-form .error{
	display: inline-block;
	color: red;
	font-size: 12px;
	margin-right: 10px;
}

.registrar{
	display: inline-block;
	color: #2c3e50;
	font-size: 1rem;
}

#role{
	display: inline-block;
	font-size: 18px;
	margin-right: 10px;
}

.contenedor-form select{
	width: 100%;
	height: 30px;
	font-size: 1rem;
	text-align: center;
	border-style: none;
	border-radius: 5px;
	margin-bottom: 10px;
}
button{
	float: right;
	background-color: #6c757d;
	color: #fff;
	font-size: 1rem;
	padding: .375rem .75rem;
	border: 1px solid #6c757d;
	border-radius: 5px;
}
button:hover{
	transition: .5s all;
	border: 1px solid #6c757d;
	color: #6c757d;
	background-color: transparent;
	cursor: pointer;
}
table{
	border-collapse: collapse;
	margin-top: 10px;
}
th{
	background-color: #7952b3;
	color: white;
	padding: 10px;
}
td{
	border: 1px solid black;
	border-spacing: 0;
	padding: 5px;
}